<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='model.entidad.dao.mapper.AccidentesMapper'>

	<resultMap type="Accidente" id="AccidenteResult">
		<id property="id" column="id" />
		<result property='id_distrito' column='ID_DISTRITO' />
		<result property='id_tipo_accidente' column='ID_TIPO_ACCIDENTE' />
		<result property='direccion' column='DIRECCION' />
		<result property='tipo_vehiculo' column='TIPO_VEHICULO' />
		<result property='tipo_persona' column='TIPO_PERSONA' />
		<result property='sexo' column='SEXO' />
		<result property='fecha' column='FECHA' />
		<result property="hora" column="HORA" />
		<result property='expediente' column='EXPEDIENTE' />


	</resultMap>


	<select resultType="Tipos" id="TipoPorId">

		SELECT * FROM TIPOS_ACCIDENTE
		WHERE ID = #{id}

	</select>


	<select resultType="Distrito" id="distritoPorId">

		SELECT * FROM DISTRITOS WHERE
		ID = #{id}

	</select>

	<select id="busquedaGeneral" resultMap='AccidenteResult'>
		SELECT * FROM ACCIDENTES
	</select>

	<select id="getAccidente" resultType='Accidente'>
		SELECT * FROM ACCIDENTES
		WHERE ID = #{id}
	</select>

	<select id="getEstadisticas" resultType="Est">
		SELECT DISTRITOS.NOMBRE
		as Distrito, COUNT(TIPOS_ACCIDENTE.NOMBRE) as
		cantidad,
		TIPOS_ACCIDENTE.NOMBRE as tipo
		FROM ACCIDENTES, TIPOS_ACCIDENTE,
		DISTRITOS
		WHERE ID_DISTRITO = DISTRITOS.ID
		AND ID_TIPO_ACCIDENTE =
		TIPOS_ACCIDENTE.ID AND ACCIDENTES.FECHA &lt;=
		#{fin} AND
		ACCIDENTES.FECHA &gt;= #{inicio}
		group by DISTRITOS.NOMBRE,
		TIPOS_ACCIDENTE.NOMBRE
		order by DISTRITOS.NOMBRE desc,
		TIPOS_ACCIDENTE.NOMBRE DESC
	</select>

	<select id="getEstadisticasSexo" resultType="Est">
		SELECT
		DISTRITOS.NOMBRE as Distrito, COUNT(TIPOS_ACCIDENTE.NOMBRE) as
		cantidad,
		TIPOS_ACCIDENTE.NOMBRE as tipo,
		TIPOS_SEXO.NOMBRE as sexo,
		TIPOS_VEHICULO.NOMBRE as vehiculo
		FROM ACCIDENTES, TIPOS_ACCIDENTE,
		DISTRITOS, TIPOS_SEXO, TIPOS_VEHICULO
		WHERE ID_DISTRITO = DISTRITOS.ID
		AND TIPOS_SEXO.ID =
		ACCIDENTES.ID_SEXO AND TIPOS_VEHICULO.ID =
		ACCIDENTES.ID_TIPO_VEHICULO
		AND ID_TIPO_ACCIDENTE = TIPOS_ACCIDENTE.ID
		AND ACCIDENTES.FECHA &lt;=
		#{fin} AND ACCIDENTES.FECHA &gt;= #{inicio}
		and DISTRITOS.ID
		= #{distrito}
		group by DISTRITOS.NOMBRE,
		TIPOS_ACCIDENTE.NOMBRE, sexo, vehiculo
		order by sexo desc, vehiculo
		DESC;
	</select>

	<select id="busquedaAccidente" resultMap="AccidenteResult">
		SELECT ACCIDENTES.*
		FROM ACCIDENTES, TIPOS_ACCIDENTE WHERE
		TIPOS_ACCIDENTE.NOMBRE LIKE
		#{tipo} AND ACCIDENTES.FECHA &lt; #{fecha} AND
		TIPOS_ACCIDENTE.ID =
		ACCIDENTES.ID_TIPO_ACCIDENTE
	</select>

	<select id="busquedaAccidenteDespues"
		resultMap="AccidenteResult">
		SELECT ACCIDENTES.*
		FROM ACCIDENTES, TIPOS_ACCIDENTE WHERE
		TIPOS_ACCIDENTE.NOMBRE LIKE #{tipo} AND ACCIDENTES.FECHA &gt; #{fecha}
		AND
		TIPOS_ACCIDENTE.ID = ACCIDENTES.ID_TIPO_ACCIDENTE
	</select>

	<select id="busquedaGeneralDistritos" resultType="Distrito">
		SELECT * FROM
		DISTRITOS
	</select>
	<select id="busquedaGeneralTipos" resultType="Tipos">
		SELECT * FROM
		TIPOS_ACCIDENTE
	</select>

	<select id="getSexos" resultType="Sexo">
		SELECT * FROM TIPOS_SEXO
	</select>

	<select id="getVehiculos" resultType="Vehiculo">
		SELECT * FROM
		TIPOS_VEHICULO
	</select>
	<insert id="insertAccidente" parameterType="Accidente">
		INSERT INTO
		ACCIDENTES(EXPEDIENTE, FECHA, HORA, DIRECCION, ID_DISTRITO,
		ID_TIPO_ACCIDENTE, ID_TIPO_VEHICULO, ID_SEXO )
		VALUES(#{expediente},
		#{fecha}, #{hora}, #{direccion}, #{idDistrito} , #{idAccidente}
		,#{id_tipo_vehiculo}, #{id_sexo});
	</insert>

	<update id="updateAccidente" parameterType="Accidente">
		UPDATE ACCIDENTES
		SET EXPEDIENTE = #{expediente}, FECHA= #{fecha}, HORA =
		#{hora}, DIRECCION = #{direccion}, ID_DISTRITO = #{idDistrito}, ID_TIPO_ACCIDENTE =
		#{idAccidente}, ID_TIPO_VEHICULO = #{id_tipo_vehiculo}, ID_SEXO = #{id_sexo}
		WHERE ID = #{id}
	</update>


</mapper>
