<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='model.entidad.dao.mapper.UsuarioMapper'>
	<select id="usuarioPorId" resultType="Usuario">
		SELECT * FROM USUARIO WHERE
		ID = #{id}
	</select>

	<select id="getUsuario" resultType="Usuario">
		SELECT * FROM USUARIO WHERE NOMBRE = #{nombre} AND PASS = #{pass}
	</select>
</mapper>