<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties' />
	<typeAliases>
		<!-- <typeAlias type='model.entidad.Accidente' alias='Accidente'></typeAlias> -->
		<!-- <typeAlias type='model.entidad.Tipos' alias='Tipos'></typeAlias> -->
		<!-- <typeAlias type='model.entidad.Distritos' alias='Distrito'></typeAlias> -->
		<!-- <typeAlias type='model.entidad.Usuario' alias='Usuario'></typeAlias> -->
		<!-- <typeAlias type='model.entidad.Sexo' alias='Sexo'></typeAlias> -->
		<!-- <typeAlias type='model.entidad.Vehiculo' alias='Vehiculo'></typeAlias> -->
		<typeAlias type="model.entidad.Rol" />


		<!-- <typeAlias type='model.entidad.Estadisticas' alias='Est'></typeAlias> -->

	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- <mapper -->
		<!-- resource='model/entidad/dao/mapper/AccidentesMapper.xml' /> -->
<mapper resource="model/entidad/dao/mapper/RolMapper.xml"/>
		<!-- <mapper resource='model/entidad/dao/mapper/UsuarioMapper.xml' /> -->
	</mappers>
</configuration>